.sign-in {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 0.75em 0;
  }

  .buttons {
    display: inline-block;

    :first-child {
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }
}
