.sign-in {
  width: 30vw;
  display: flex;
  flex-direction: column;

  .title {
    margin: 0.75em;
  }

  .buttons {
    display: inline-block;

    :first-child {
      margin-right: 1em;
    }
  }
}
